.main-features {
  margin-top: 10px;      
}

body {
  background-image:url('http://www.hdwallpapers.in/walls/flight-wide.jpg');
  background-color:#cccccc;   
  background-size: 100%;
  background-repeat: no-repeat;
  /*background-position:center;*/
}

.hero-unit {
  background-color:rgba(255,255,255,0.2);
}

.hero-unit h1 {
  color:#0099FF
}

.hero-unit p {
  color:#008AE6
}

