.main-features {
  margin-top: 10px;      
}

body {
  background-image:url('http://www.hdwallpapers.in/wallpapers/aeroplane-1920x1080.jpg');
  background-color:#cccccc;   
  /*background-color:#000000;*/
  background-size: 100% auto;
  background-repeat: no-repeat;
  /*background-position:center;*/
}

.hero-unit {
  background-color:rgba(0,0,0,0.2);
}

.hero-unit h1 {
  color:#ffffff
}

.hero-unit p {
  color:#eeeeee
}

